{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
      'view-node',
    ]
  %}
  {% set counter = 'item' ~ loop.index %}

  {% if loop.first %}

    <div{{ row.attributes.addClass('col-md-5').addClass('col-sm-12') }}>

      <div class="newslist {{ counter }}">
        {{ row.content }}
      </div>
    </div><!--//.col-md-5-->
    <div class="col-md-7 col-sm-12">

  {% else %}

    <div class="newslist {{ counter }} hide-rest-of-node">
      {{ row.content }}
    </div>

    {% endif %}

    {% if loop.last %}
    </div><!--//end .col-md-7-->
  {% endif %}

{% endfor %}